{% extends 'layout.twig' %}

{% block content %}
    <div>SOME_VARIABLE: {{some_variable}}</div>
    <div>TOKEN: {{token}}</div>
    <div>ARG: {{arg}}</div>
    <div>STATIC PARAM: {{static_param}}</div>
    <div>SERVICE PARAM: {{service_param}}</div>
    <div>ENV TEST VAR: {{env_var}}</div>
    {{dump(some_variable)}}
{% endblock %}